# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Dependency lock file (can be included if preferred)
# pubspec.lock

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/DerivedData/

# Xcode
*.xcuserstate
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/**/*
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.hmap
*.ipa

# Android
.android/
.gradle/
*.iml
android/.idea/
android/.gradle/
android/captures/
android/app/build/

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iws
*.ipr
*.iml

# Other
*.log
*.tmp
*.swp
*.DS_Store

# Web
web/.dart_tool/
web/build/
